.DS_Store
.vscode/
*/**/.DS_Store

node_modules
.env

dist
out
cache
cache_forge
artifacts
typechain-types

contracts/hardhat-dependency-compiler

deployments/mainnet/solcInputs/*
deployments/base/solcInputs/*
deployments/arbitrum/solcInputs/*
deployments/hardhat/*
deployments/tenderly/*
deployments/tenderly-testnet/*

fork-*.zip
testnet-*.zip
